<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title></title> 
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js" type="text/javascript"></script> 
<script type="text/javascript"> 
function showTime(tuanid, time_distance) { 
	this.tuanid = tuanid; 
	//PHP时间是秒，JS时间是微秒 
	this.time_distance = time_distance * 1000; 
} 
showTime.prototype.setTimeShow = function () {
	var timer = $("#lefttime_" + this.tuanid); 
	var str_time; 
	var int_day, int_hour, int_minute, int_second; 
	time_distance = this.time_distance; 
	this.time_distance = this.time_distance - 1000; 
	if (time_distance > 0) { 
		int_day = Math.floor(time_distance / 86400000); 
		time_distance -= int_day * 86400000; 
		int_hour = Math.floor(time_distance / 3600000); 
		time_distance -= int_hour * 3600000; 
		int_minute = Math.floor(time_distance / 60000); 
		time_distance -= int_minute * 60000; 
		int_second = Math.floor(time_distance / 1000); 
		if (int_hour < 10) 
			int_hour = "0" + int_hour; 
		if (int_minute < 10) 
			int_minute = "0" + int_minute; 
		if (int_second < 10) 
			int_second = "0" + int_second; 
		str_time = int_minute + "分钟" + int_second + "秒"; 
		timer.text(str_time); 
		var self = this; 
		setTimeout(function () { 
			self.setTimeShow(); 
			}, 1000);
	} else { 
		timer.text("团购结束"); 
		return; 
	} 
} 
</script> 
</head> 
<body> 
<div id="lefttime_1" time="2011/11/23 6:58:23"> 

</div> 
<script type="text/javascript"> 
var st = new showTime(1,1800);
st.setTimeShow(); 
</script> 
<div id="lefttime_2" time="2011/11/24 6:58:23"> 

</div> 
<script type="text/javascript"> 
var st = new showTime(2, 1800); 
//st.tuanid = 1; 
//st.time_distance = 10000; 
st.setTimeShow(); 
</script> 
</body> 
</html> 