{layout name="nohead"}
<div class="panel">
	<div class="panel-heading pad-hor">
		<h3>订单详情</h3>
	</div>
	<div class="panel-body pad-all">		
		<div class="well well-sm row">
			<div class="col-lg-4 text-center pad-top">
			商户订单号：{$info.order_id}
			</div>
			<div class="col-lg-4 text-center pad-top">
			订单时间：{$info.time}
			</div>
			<div class="col-lg-4 text-center pad-top">
			收款通道：{$info.from}
			</div>
			<div class="col-lg-4 text-center pad-top">
			交易模式：{$info.model}
			</div>
			<div class="col-lg-4 text-center pad-top">
			订单状态：{$info.status}
			</div>
			<div class="col-lg-4 text-center pad-top">
			订单金额：{$info.price}
			</div>
			<div class="col-lg-4 text-center pad-top">
			实收金额：{$info.amount}
			</div>
			<div class="col-lg-4 text-center pad-top">
			扣率：{$info.kou}
			</div>
			<div class="col-lg-4 text-center pad-top">
			手续费：{$info.post}
			</div>
			<div class="col-lg-4 text-center pad-top">
			商户名称：{$info.shop}
			</div>
			<div class="col-lg-4 text-center pad-top">
			商户号：{$info.shop_num}
			</div>
			<div class="col-lg-4 text-center pad-top">
			门店名称：{$info.dian}
			</div>
			<div class="col-lg-4 text-center pad-top">
			门店号：{$info.dian_num}
			</div>
			<div class="col-lg-4 text-center pad-top">
			终端名称：{$info.vender_name}
			</div>
			<div class="col-lg-4 text-center pad-top">
			终端号：{$info.vender_sn}
			</div>
			<div class="col-lg-4 text-center pad-top">
			终端类型：{$info.vender_type}
			</div>
			<div class="col-lg-4 text-center pad-top">
			设备号：{$info.dsn}
			</div><div class="col-lg-4 text-center pad-top">
			付款账户：{$info.user}
			</div>
			<div class="col-lg-4 text-center pad-top">
			收款通道订单号：{$info.save_id}
			</div>
			<div class="col-lg-4 text-center pad-top">
			操作员：{$info.opreat}
			</div>
			<div class="col-lg-4 text-center pad-top">
			收银员：{$info.shou}
			</div>
			<div class="col-lg-4 text-center pad-top">
			商户内部订单号：{$info.in_order_id}
			</div>
			<div class="col-lg-4 text-center pad-top">
			是否试用：{$info.try_use}
			</div>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
