{layout name="layout"}
<table class="table table-striped">
	<thead>
		 <tr>
			<th>时间</th>
			<th>游品资源</th>
			<th>在售活动</th>
			<th>资源客户</th>
			<th>社群客户</th>
			<th>销售额</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>今日</td>
			<td>{$num.day1.youpin}</td>
			<td>{$num.day1.zaishou}</td>
			<td>{$num.day1.ekehu}</td>
			<td>{$num.day1.zkehu}</td>
			<td>{$num.day1.sale|default=0}</td>
		</tr>
		<tr>
			<td>昨日</td>
			<td>{$num.day2.youpin}</td>
			<td>{$num.day2.zaishou}</td>
			<td>{$num.day2.ekehu}</td>
			<td>{$num.day2.zkehu}</td>
			<td>{$num.day2.sale|default=0}</td>
		</tr>
		<tr>
			<td>本周</td>
			<td>{$num.day7.youpin}</td>
			<td>{$num.day7.zaishou}</td>
			<td>{$num.day7.ekehu}</td>
			<td>{$num.day7.zkehu}</td>
			<td>{$num.day7.sale|default=0}</td>
		</tr>
		<tr>
			<td>上周</td>
			<td>{$num.day14.youpin}</td>
			<td>{$num.day14.zaishou}</td>
			<td>{$num.day14.ekehu}</td>
			<td>{$num.day14.zkehu}</td>
			<td>{$num.day14.sale|default=0}</td>
		</tr>
		<tr>
			<td>本月</td>
			<td>{$num.day30.youpin}</td>
			<td>{$num.day30.zaishou}</td>
			<td>{$num.day30.ekehu}</td>
			<td>{$num.day30.zkehu}</td>
			<td>{$num.day30.sale|default=0}</td>
		</tr>
		<tr>
			<td>上月</td>
			<td>{$num.day60.youpin}</td>
			<td>{$num.day60.zaishou}</td>
			<td>{$num.day60.ekehu}</td>
			<td>{$num.day60.zkehu}</td>
			<td>{$num.day60.sale|default=0}</td>
		</tr>
		<tr>
			<td>总计</td>
			<td>{$num.all.youpin}</td>
			<td>{$num.all.zaishou}</td>
			<td>{$num.all.ekehu}</td>
			<td>{$num.all.zkehu}</td>
			<td>{$num.all.sale|default=0}</td>
		</tr>
	</tbody>
</table>
