{layout name="layout"}
<table class="table table-striped">
	<thead>
		 <tr>
			<th>时间</th>
			<th>新增注册</th>
			<th>登录数量</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>今日</td>
			<td>{$reg.day1}</td>
			<td>{$login.day1}</td>
		</tr>
		<tr>
			<td>昨日</td>
			<td>{$reg.day2}</td>
			<td>{$login.day2}</td>
		</tr>
		<tr>
			<td>本周</td>
			<td>{$reg.day7}</td>
			<td>{$login.day7}</td>
		</tr>
		<tr>
			<td>上周</td>
			<td>{$reg.day14}</td>
			<td>{$login.day14}</td>
		</tr>
		<tr>
			<td>本月</td>
			<td>{$reg.day30}</td>
			<td>{$login.day30}</td>
		</tr>
		<tr>
			<td>上月</td>
			<td>{$reg.day60}</td>
			<td>{$login.day60}</td>
		</tr>
	</tbody>
</table>
